div.tabuleiro{
  display: grid;
  grid-template-columns: 33% 33% 33%; 
  width: 15rem;
  background-color: rgb(99, 13, 17);
  color: aliceblue;
  margin: auto;
  display: none;
}
div.arena{
  display: grid;
  grid-template-columns: 33% 33% 33%; 
  width: 15rem;
  background-color:  rgb(241, 240, 240);
  color:rgb(99, 13, 17);
  margin: auto;
  display: none;
}
  
div.area{
  font-size: 20px;
  padding: 25px;
  text-align: center;
  height: 20px;
}


div#area-2{
  border-right:  3px solid ;
  border-left:  3px solid ;
}
div#area-4{
  border-top:  3px solid ;
  border-bottom:  3px solid; 
}
div#area-8{
  border-right:  3px solid ;
  border-left:  3px solid ;
}
div#area-6{
  border-top:  3px solid ;
  border-bottom:  3px solid ;
}
div#area-5{
  border-top:  3px solid ;
  border-bottom:  3px solid ;
  border-left:  3px solid ;
  border-right:  3px solid ;
}
div.a24865{
  border-color:rgb(241, 240, 240);;
}




h1{
  margin-left: 40%;
}
div#input{
  margin-left: 40%;
  margin-top: 20%;
}

body.is-dark{
  background-color: rgb(99, 13, 17);
  color:rgb(241, 240, 240);
}
body.is-light{
  background-color: rgb(241, 240, 240);
  color: rgb(99, 13, 17);;
}